<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <title>Title</title>
</head>
<body>
<div id="topNavWrapper">
    <ul  id="topNavLeft">
        __BLOG__
    </ul>

    <div id="topNavRight">
        <ul>
            <li>
                用户名
            </li>
            <li>
                退出
            </li>
        </ul>
    </div>

</div>

<div id="contentWrap">
    <div id="leftBar">

    </div>
    <div id="rightBar">

    </div>
</div>
