<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="__BOOTSTRAP__/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <link rel="stylesheet" href="__BOOTSTRAP__/css/bootstrap-theme.min.css"/>
    <title>静之曙光</title>
</head>
<body>
<div id="topNavWrapper">
    <div id="topNavLeft">
        <ul>
            <li class="font1">
                __BLOG__
            </li>
            <li>

            </li>
        </ul>

    </div>

    <div id="topNavRight">
        <ul>
            <li>
                <div class="glyphicon glyphicon-off">
                    <a href="#">退出</a>
                </div>
            </li>
            <li>
                <div class="glyphicon glyphicon-user">
                    <a href="#">用户</a>
                </div>
            </li>
        </ul>
    </div>

</div>

<div id="contentWrap">
    <div id="leftBar">

    </div>
    <div id="rightBar">

    </div>
</div>
